{% extends 'app1/base.html' %}
{% load crispy_forms_tags %}
{% block conteudo %}
{% if user.is_authenticated  %}<!-- if 1-->

<a href="{% url 'url_entrada' %}" class="btn btn-success">Simular novo empréstimo</a>
<a href="{% url 'logout' %}" class="btn btn-danger">Sair</a>
<h2>Veja seus simulados abaixo</h2>
<div class="table-responsive">
<table class="table">
  <thead class="table-success">
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Nome</th>
      <th scope="col">Valor</th>
      <th scope="col">Parcela</th>
      <th scope="col">Juros</th>
      <th scope="col">Valor total</th>
      <th scope="col">Comprar plano</th>
      <th scope="col">Aprovado</th>
      <th scope="col">Contratar plano</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     {%for e in todas_e%}
      <th scope="row">{{e.data}}</th>
      <td>{{e.nome}}</td>
      <td>{{e.valor}}R$</td>
      <td>{{e.parcela}} x {{e.calcular}}</td>
      <td>4% ao mês</td>
      <td>{{e.juros}}</td>
      <td>{%if e.fechou_negocio%}
          <div class="alert alert-info" role="alert">
            Sim
          </div>
          {%else%}
          <div class="alert alert-danger" role="alert">
              Não
          </div>
          {%endif%}</td>
        <td>{%if e.aprovado%}
        <div class="alert alert-success" role="alert">
            Sim
          </div>
          {%else%}
          <div class="alert alert-warning" role="alert">
              Aguardando aprovação
          </div>
          {%endif%}</td>
        <td><a href="{% url 'comprar' e.id %}" class="btn btn-success">Comprar</a></td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</div>
{% else %}
<h3>Você não está logago</h3>
<a href="{% url 'login' %}" class="btn btn-primary">Login</a>
{%endif%}

{% endblock %}